html, body {
  height: 100%;
  margin: 0;
  padding: 0.5%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.topMenu{
    width: 100%;
    height: 7%;
    border-radius: 30px;
    background-color: gray;
    flex-shrink: 0; 
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

.mainArea{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-evenly;
    background-color: transparent;
    flex: 1;
    padding: 0%;
    margin: 0%;
}

.leftPanel{
    border-radius: 30px;
    height: 95%;
    width: 20%;
    background-color: gray;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0.5%;
}
#map{
    border-radius: 30px;
    height: 95%;
    width: 80%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0.5%;
    margin-right: 0%;
}

.spotMarker{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-evenly;
    background-color: #222222;
    border-radius: 6px;
    height: 35px;
    width: auto;
    max-width: 260px;
}

.spotImageContainer{
    height: 100%;
    aspect-ratio: 1/1;
    justify-content: center;
    align-content: center;
    display: flex;
    background-color: transparent;
    padding: 0px;
}

.spotImage{
    aspect-ratio: 1/1;
    height: 100%;
    object-fit: fill;
    border-radius: 5px;
}

.spotText{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 7;
    font-weight: 500;
    color: whitesmoke;
}