@font-face {
  font-family: openSans; 
  src: url(./Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf); 
}

* {
  font-family: "openSans";
}


html, body {
    height: 100%;
    margin: 0;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.topMenu{
    display: flex;
    justify-items: flex-start;
    align-items: center;
    width: 100%;
    height: 5%;
    border-radius: 15px;
    background-color: #4A66D4;
    flex-shrink: 0; 
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

.day-buttons{
    margin-left: 0.4%;
}
.day-btn {
    border: none;
    margin: 5px; 
    padding: 6px 14px;
    border-radius: 10px;
    background: #f5f5f5;
    font-size: 12;
}

.timeSelector {
    display: block;
    width: 200px;
    background-color: yellow;
}

.mainArea{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-evenly;
    background-color: transparent;
    flex: 1;
    padding: 0%;
    margin: 0%;
}

#map{
    border-radius: 15px;
    height: 97%;
    width: 75%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0.4%;
    margin-right: 0%;
    position: relative;
    flex: 1;
}

#mapPopup{
    border-radius: 15px;
    height: 97%;
    width: 50%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0.4%;
    margin-right: 0%;
    position: relative;
}

#popup {
    border-radius: 15px;
    height: 97%;
    width: 25%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0.4%;
    margin-right: 0.4%;
    position: relative;
    display: none;
    background-color: #91daef;
}

#deletePopup {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    height: 50px;
    background-color: #57b6d1;
    border-radius: 15px;
    border: 0px solid transparent;
    margin: 10px;
    background-image: "Icons/left.svg";
}

.spotMarker{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-evenly;
    background-color: #222222;
    border-radius: 6px;
    height: 35px;
    width: auto;
    max-width: 260px;
}

.spotImageContainer{
    height: 100%;
    aspect-ratio: 1/1;
    justify-content: center;
    align-content: center;
    display: flex;
    background-color: transparent;
    padding: 0px;
}

.spotImage{
    aspect-ratio: 1/1;
    height: 100%;
    object-fit: fill;
    border-radius: 5px;
}

.spotText{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 7;
    font-weight: 500;
    color: whitesmoke;
}

#clicked {
    background: blue;
}


.leftPanel{
    border-radius: 15px;
    height: 96%;
    width: 25%;
    background-color: #d3f8e3;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0.4%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

 .buildingContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    background-color: #62e3a5;
    border-radius: 15px;
    height: 130px;
    width: 94%;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
 }

.imageBuildingContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: transparent;
    height: 100%;
    width: auto;
}

 .buildingImage{
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 15px;
    object-fit: cover;
    margin-right: 8px;
 }

.buildingContentContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

 .buildingName{
    font-size: 14pt;
    color: black;
    margin: 4px;
    font-weight: 475;
 }

 .fraction{
    align-self: self-start;
    background-color: yellow;
    margin: 2px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    width: auto;
    border-radius: 10px;
    font-weight: 550;
 }

 .icon{
    height: 80%;
    aspect-ratio: 1/1;
 }