html, body {
  height: 100%;
  margin: 0;
  padding: 0.5%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.topMenu{
    width: 100%;
    height: 7%;
    border-radius: 30px;
    background-color: gray;
    flex-shrink: 0; 
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

/* this could be deleted i think?*/
.daySelector{
    position: relative;
    top: 15px;
    left: 20px;


    
}

.day-btn {
    margin: 5px; 
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: #f5f5f5;
    transition: background 0.2s;
    font-family: "Times New Roman";
    font-size: 12;

}

.day-btn:hover {
    background:#eaeaea
}

.day-btn:active{
    background: #007bff;
    color: white;
    border-color: #007bff;
}

.timeSelector {
    position: relative;
    bottom: 5px;
    left: 220px;
}

.mainArea{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-evenly;
    background-color: transparent;
    flex: 1;
    padding: 0%;
    margin: 0%;
}

.leftPanel{
    border-radius: 30px;
    height: 95%;
    width: 20%;
    background-color: rgb(243, 236, 236);
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0.5%;
    font-family: "Monaco";
}
#map{
    border-radius: 30px;
    height: 95%;
    width: 80%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0.5%;
    margin-right: 0%;
    position: relative;
}
.leftPanel div {
    border: solid;
    margin: 20px;
}
#popup {
    position: absolute;
    z-index: 2;
    background: rgb(255, 255, 255);
    width: 200px;
    height: 250px;
    display: none;
    border: 1px solid gray;
    border-radius: 7px;
}

#deletePopup {
    width: 200px;
}

.leftPanel div img {
    height: 100px;
}


.spotMarker{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-evenly;
    background-color: #222222;
    border-radius: 6px;
    height: 35px;
    width: auto;
    max-width: 260px;
}

.spotImageContainer{
    height: 100%;
    aspect-ratio: 1/1;
    justify-content: center;
    align-content: center;
    display: flex;
    background-color: transparent;
    padding: 0px;
}

.spotImage{
    aspect-ratio: 1/1;
    height: 100%;
    object-fit: fill;
    border-radius: 5px;
}

.spotText{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 7;
    font-weight: 500;
    color: whitesmoke;
}

#clicked {
    background: blue;
}